# Installation

In [1]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/87/03/fe50521919aa981f6a1c197037da4623a267b0e5f42246d69ba048e86da3/pandas-2.2.0-cp312-cp312-win_amd64.whl.metadata
  Downloading pandas-2.2.0-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\nasir\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nasir\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/3b/dd/9b84302ba85ac6d3d3042d3e8698374838bde1c386b4adb1223d7a0efd4e/pytz-2023.4-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.4-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/a3/fb/52b62131e21b24ee297e4e95ed41eba29647dad0e0051a92bb66b43c70ff/tzdata-2023.4-py2.py3-none-any.whl.metadata
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\nasir\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 1.6 MB/s eta 0:00:07
   - -------------------------------------- 0.3/11.5 MB 3.2 MB/s eta 0:00:04
   -- ------------------------------------- 0.6/11.5 MB 5.1 MB/s eta 0:00:03
   --- ------------------------------------ 0.9/11.5 MB 5.4 MB/s eta 0:00:02
   --- ------------------------------------ 1.1/11.5 MB 5.2 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/11.5 MB 4.9 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.5 MB 5.1 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.5 MB 5.1 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.5 MB 5.1 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.5 MB 3.4 MB/s eta 0:00:04
   ----- ---------------------------------- 1.5/11.5 MB 3.4 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/11.5 MB 3.5 MB/s eta 0:00:03
   ------ --------------------------------- 1.9/11.5 MB 3.9 MB/s eta 0:00:03
   ------- -------------------------------- 2.2/11.5 MB 3.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.3/11.5 MB 4.0 MB/s eta 0:00:03
   -------- ------------------------------- 2.5/11.5 MB 3.9 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/11.5 MB 3.9 MB/s eta 0:00:03
   --------- ------------------------------ 2.8/11.5 MB 4.0 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/11.5 MB 3.9 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 4.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 4.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 4.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 4.0 MB/s eta 0:00:03
   ----------- ---------------------------- 3.2/11.5 MB 3.5 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/11.5 MB 3.5 MB/s eta 0:00:03
   ------------ --------------------------- 3.6/11.5 MB 3.6 MB/s eta 0:00:03
   ------------- -------------------------- 3.7/11.5 MB 3.6 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.5 MB 3.6 MB/s eta 0:00:03
   -------------- ------------------------- 4.1/11.5 MB 3.6 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.5 MB 3.6 MB/s eta 0:00:02
   --------------- ------------------------ 4.3/11.5 MB 3.6 MB/s eta 0:00:02
   --------------- ------------------------ 4.5/11.5 MB 3.6 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/11.5 MB 3.6 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/11.5 MB 3.6 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/11.5 MB 3.6 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/11.5 MB 3.6 MB/s eta 0:00:02
   ----------------- ---------------------- 4.9/11.5 MB 3.4 MB/s eta 0:00:02
   ----------------- ---------------------- 5.1/11.5 MB 3.6 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.5 MB 3.7 MB/s eta 0:00:02
   ------------------- -------------------- 5.7/11.5 MB 3.7 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.5 MB 3.7 MB/s eta 0:00:02
   -------------------- ------------------- 6.0/11.5 MB 3.7 MB/s eta 0:00:02
   --------------------- ------------------ 6.1/11.5 MB 3.7 MB/s eta 0:00:02
   --------------------- ------------------ 6.2/11.5 MB 3.7 MB/s eta 0:00:02
   ---------------------- ----------------- 6.4/11.5 MB 3.7 MB/s eta 0:00:02
   ---------------------- ----------------- 6.5/11.5 MB 3.7 MB/s eta 0:00:02
   ----------------------- ---------------- 6.7/11.5 MB 3.7 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.5 MB 3.7 MB/s eta 0:00:02
   ------------------------ --------------- 7.0/11.5 MB 3.7 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 3.7 MB/s eta 0:00:02
   ------------------------- -------------- 7.3/11.5 MB 3.7 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.5 MB 3.7 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.5 MB 3.7 MB/s eta 0:00:02
   -------------------------- ------------- 7.7/11.5 MB 3.7 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------- ----------- 8.0/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------- ----------- 8.2/11.5 MB 3.7 MB/s eta 0:00:01
   ----------------------------- ---------- 8.3/11.5 MB 3.7 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 3.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.6/11.5 MB 3.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.5 MB 3.8 MB/s eta 0:00:01
   ------------------------------- -------- 8.9/11.5 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 9.0/11.5 MB 3.8 MB/s eta 0:00:01
   -------------------------------- ------- 9.2/11.5 MB 3.8 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.5/11.5 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 9.8/11.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.5 MB 3.8 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 3.8 MB/s eta 0:00:01
   ------------------------------------- -- 10.6/11.5 MB 3.8 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.5 MB 3.8 MB/s eta 0:00:01
   -------------------------------------- - 10.9/11.5 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.6 MB/s eta 0:00:00
Downloading pytz-2023.4-py2.py3-none-any.whl (506 kB)
   ---------------------------------------- 0.0/506.5 kB ? eta -:--:--
    --------------------------------------- 10.2/506.5 kB ? eta -:--:--
   ---- ---------------------------------- 61.4/506.5 kB 825.8 kB/s eta 0:00:01
   ------------- -------------------------- 174.1/506.5 kB 1.8 MB/s eta 0:00:01
   ----------------------- ---------------- 297.0/506.5 kB 2.0 MB/s eta 0:00:01
   ----------------------------------- ---- 450.6/506.5 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 506.5/506.5 kB 2.4 MB/s eta 0:00:00
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   -------------------- ------------------- 174.1/346.6 kB 5.3 MB/s eta 0:00:01
   ------------------------------------- -- 327.7/346.6 kB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 346.6/346.6 kB 4.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.0 pytz-2023.4 tzdata-2023.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# Importing

In [3]:
import pandas as pd

C:\Users\Nasir\AppData\Local\Temp\ipykernel_7212\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Reading Data

In [4]:
Insurance_df=pd.read_csv(filepath_or_buffer="insurance.csv")

In [5]:
Insurance_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [17]:
Sales_Transactions_df=pd.read_csv("Sales Transactions-2017.csv")

In [18]:
Sales_Transactions_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",NaN,"3,425.00"
47286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47288,NaN,Total,NaN,NaN,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,NaN,Total,NaN,NaN,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

In [16]:
order_df=pd.read_csv("data.tsv.txt",sep="@")

In [17]:
order_df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## Chapter_1 Initial Analysis of Data

In [31]:
Insurance_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [32]:
Insurance_df.shape

(1338, 7)

In [34]:
Insurance_df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [37]:
Insurance_df.tail(20)

      age     sex     bmi  children smoker     region      charges
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

In [38]:
Insurance_df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [39]:
Insurance_df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [41]:
Insurance_df["age"].mean()

39.20702541106129

In [43]:
Insurance_df.describe(include='all')

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

In [45]:
Insurance_df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [51]:
Sales_Transactions_df.isna().sum()

Date               5388
Voucher            5375
Party                15
Product            5388
Qty                5375
Rate               5376
Gross              5376
Disc              44432
Voucher Amount    35942
dtype: int64

In [8]:
Insurance_df["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [9]:
len(Insurance_df["region"].unique())

4

In [10]:
Insurance_df["region"].nunique()

4

In [12]:
Insurance_df["region"].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [22]:
order_df["item_name"].nunique()

50

In [23]:
order_df["item_name"].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [24]:
order_df["item_name"].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

## Chapter_2 Filtering and Sorting

In [25]:
football_df=pd.read_csv("Euro_2012_stats_TEAM.csv")

In [27]:
football_df.head(10)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17

In [30]:
football_df[football_df["Goals"]>4]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18

In [34]:
football_df[football_df["Shots off target"]>30]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [37]:
football_df[football_df["Team"]=="Germany"]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17

In [42]:
football_df[["Yellow Cards","Red Cards"]]

    Yellow Cards  Red Cards
0              9          0
1              7          0
2              4          0
3              5          0
4              6          0
5              4          0
6              9          1
7             16          0
8              5          0
9              7          1
10            12          0
11             6          1
12             6          0
13            11          0
14             7          0
15             5          0

In [43]:
filter_data=football_df[["Team","Goals","Red Cards","Yellow Cards"]]

In [44]:
filter_data

                   Team  Goals  Red Cards  Yellow Cards
0               Croatia      4          0             9
1        Czech Republic      4          0             7
2               Denmark      4          0             4
3               England      5          0             5
4                France      3          0             6
5               Germany     10          0             4
6                Greece      5          1             9
7                 Italy      6          0            16
8           Netherlands      2          0             5
9                Poland      2          1             7
10             Portugal      6          0            12
11  Republic of Ireland      1          1             6
12               Russia      5          0             6
13                Spain     12          0            11
14               Sweden      5          0             7
15              Ukraine      2          0             5

In [46]:
football_df

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [49]:
filter_data.sort_values(by="Goals",ascending=False,ignore_index=True)

                   Team  Goals  Red Cards  Yellow Cards
0                 Spain     12          0            11
1               Germany     10          0             4
2                 Italy      6          0            16
3              Portugal      6          0            12
4               England      5          0             5
5                Greece      5          1             9
6                Russia      5          0             6
7                Sweden      5          0             7
8               Croatia      4          0             9
9        Czech Republic      4          0             7
10              Denmark      4          0             4
11               France      3          0             6
12          Netherlands      2          0             5
13               Poland      2          1             7
14              Ukraine      2          0             5
15  Republic of Ireland      1          1             6

In [50]:
football_df

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [51]:
football_df[football_df["Yellow Cards"]>8]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [52]:
football_df["Yellow Cards"]>8

0      True
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10     True
11    False
12    False
13     True
14    False
15    False
Name: Yellow Cards, dtype: bool

In [53]:
football_df["Goals"]>4

0     False
1     False
2     False
3      True
4     False
5      True
6      True
7      True
8     False
9     False
10     True
11    False
12     True
13     True
14     True
15    False
Name: Goals, dtype: bool

In [58]:
(football_df["Yellow Cards"]>8) & (football_df["Goals"]>4)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10     True
11    False
12    False
13     True
14    False
15    False
dtype: bool

In [ ]:
[(football_df["Yellow Cards"]>8) & (football_df["Goals"]>4)]